# ==============================================================================
# CERBERUS DevSecOps — Git Ignore Configuration
# ==============================================================================

# Local Terraform Working Directory & Binaries
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local Environment & Secrets
.env
*.env
*.pem
*.key

# OS, Node & Editor Files
node_modules/
src/node_modules/
.DS_Store
*.log
